:root {
    --strong-cyan: hsl(172, 67%, 45%); 
   /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);  
    --dark-grayish-cyan: hsl(186, 14%, 43%) ; 
    --dark-grayish-cyan: hsl(184, 14%, 56%) ; 
    --light-grayish-cyan: hsl(185, 41%, 84%) ; 
    --light-cyan: hsl(189, 41%, 97%) ; 
}


html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-grayish-cyan) ;  
    font-family: 'Space Mono', monospace;
}

h1{
    text-align: center;
    color: transparent;
    background: url(../images/logo.svg) no-repeat center;
    height: auto;
    min-height: 100px;
}

input{
    font-size: 24px;
    outline: none;
    border: none;
}
input:focus{
    outline: none ; 
    border: 2px solid var(--strong-cyan);
    border-radius: 3px;   
}

label{
    display: inline-block;
}

.main-container{
    max-width: 1440px;
    margin: 0 auto ; 
    width: 90%;
}

.container-tip{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 30px 35px;
    border-radius: 15px;
}

.container-percent, 
.container-result{
    width: 50%;
}

.container-percent{
    background: white;
    padding-right: 30px;
}
.container-percent label{
    color: var(--dark-grayish-cyan);
    font-weight: bold;
    margin-bottom: 10px; 
}

.container-input{
    position: relative;
}
.container-input::before{
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    left: 20px;
    top: 10px;
    background: url(../images/icon-dollar.svg) no-repeat ;
}


.tip input{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: var(--light-cyan);
    text-align: right;
    color: var(--very-dark-cyan);
    font-weight: bold;

}

.select-tip{
    margin-top: 20px;
}

.button-select-tip{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(30%, 1fr) );
    grid-gap: 15px;
}

.button-select-tip button{
    height: 40px;
    padding: 0;
    border: none; 
    border-radius: 5px;
    background: var(--very-dark-cyan);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

#button-custom{
    background: white;
    color: var(--dark-grayish-cyan);
    background: var(--light-cyan);
}

.button-select-tip button:hover{
    background: hsl(173, 61%, 77% , 1);
    color: var(--very-dark-cyan);
}

.number-people {
    margin-top: 20px;
    position: relative;
}

.number-people  .container-input::before{
    background: url(../images/icon-person.svg) no-repeat;
}



#label-zero{
    position: absolute;
    right: 0;
    color: #c67e72;
}

.container-result{
    background: var(--very-dark-cyan);
    padding: 45px;
    border-radius: 15px;
}

.container-result label{
    color: white;
    font-weight: 700;
    display: block;
}

.container-result  span{
    color: var(--light-grayish-cyan);
}

.tip-amount{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.results-tip{
    font-size: 35px;
    
}

.results-tip span{
    color: var(--strong-cyan);
    font-weight: bold;
}

.button-reset{
    width: 100%;
    border: none;
    height: 45px;
    border-radius: 5px;
    background: var(--strong-cyan);
    color: var(--very-dark-cyan);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

@media(max-width: 850px){
    body{
        height: 100%;
    }
    h1{
        margin: 30px 0 0 0;
    }
    .main-container{
        width: 100%;
    }
    .container-tip{
        flex-direction: column;
        align-items: center;
    }

    .container-percent{
        padding-right: 0;
        width: 100%;
    }
    .container-result{
        width: 100%;
        margin-top: 30px;
        padding: 45px 20px;
    }
}